@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #000;
}
header{
	background-color: transparent;
	position: relative;
	width: 100%;
	padding: 10px 0;
	border-bottom: 1px solid #eee;
}

#hero{
	background-image: url("../img/home-header-bg.jpg");
	background-size: cover;
	background-position: top center;
	min-height: 400px;
}

.btn-samsung{
	background-color: transparent;
	text-transform: uppercase;
	color: #fff;
	font-size: 12px;
	font-weight: 600;
	letter-spacing: 1px;
	border-radius: 30px;
	border: solid 1px;
	padding: 10px 20px;
}
.btn-informacion{
	background-color: transparent;
	text-transform: uppercase;
	color: #000000;
	font-size: 12px;
	font-weight: 700;
	letter-spacing: 1px;
	border-radius: 30px;
	border: solid 1px;
	padding: 10px 20px;
	margin-bottom: 30px;
}

.btn-informacion:hover{
	background-color: #160E74;
	color: #fff;
}
#products{
	text-align: center;
	padding: 40px;
}

#products h2{
	padding-bottom: 30px;
}
#products h4{
	padding-bottom: 20px;
}

footer{
	background-color: #f2f2f2;
	padding: 50px;
	color: #000;
}

footer a{
	color: #000;
	text-decoration: none;
}

ul {
    list-style: none;
}
.redes{
	font-size: 40px;
}

